//base font
$base-font-family: 'NotoSansCJKtc',
'Microsoft JhengHei';
$base-font-size: 14px;
$base-font-color: #1f1f1f;
$base-line-height: 1.42857143;
$base-background-color: #ffffff;
//typography
$h1: 36px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$p: 14px;
$h-letter-spacing:1.2px;
// Colors
$main-color-0:#1f1f1f;
$main-color-1:#58B2DC;
$main-color-2:#81C7D4;
$main-color-3:#7DB9DE;
$main-color-4:#4E9DC2;
$main-color-5:#0B588D;
$main-color-6:#eaeaea;
$main-color-7:#cccccc;
$main-color-8:#FF7A4C;
$main-color-9:#E83015;
$header-height:80px;