.my-h1 {
    font-size: $h1;
    letter-spacing: $h-letter-spacing;
    color: $main-color-5;
}

.my-h2 {
    font-size: $h2;
    letter-spacing: $h-letter-spacing;
    color: $main-color-5;
}

.my-dp-h2 {
    font-size: $h2;
    letter-spacing: $h-letter-spacing;
    color: $main-color-0;
}

.my-h3 {
    font-size: $h3;
    letter-spacing: $h-letter-spacing;
    color: $main-color-5;
}

.my-dp-h3 {
    font-size: $h3;
    letter-spacing: $h-letter-spacing;
    color: $main-color-0;
}

.my-h4 {
    font-size: $h4;
    letter-spacing: $h-letter-spacing;
    color: $main-color-5;
}

.my-dp-h5 {
    font-size: $h5;
    letter-spacing: $h-letter-spacing;
    color: $main-color-0;
}

.my-h5 {
    font-size: $h5;
    letter-spacing: $h-letter-spacing;
    color: $main-color-5;
}

.my-dp-h4 {
    font-size: $h4;
    letter-spacing: $h-letter-spacing;
    color: $main-color-0;
}

.my-p {
    font-size: $p;
    letter-spacing: $h-letter-spacing;
    color: $main-color-0;
}

.bold {
    font-weight: bold;
}